<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dog registry - Koirarekisteri</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script> 
		$(document).ready(function(){
		  $("#ohje").click(function(){
		    $("#teksti").slideToggle("slow");
		  });
		});
	</script>
	<style>
		#teksti {
		  padding: 20px;
		  display: none;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Lisää uusi koira</h1>
		<button id="ohje" class="btn btn-light">Lue ohjeistus koiran lisäämiseen</button>
		<p id="teksti"><b>Koiran nimi:</b> Lisää koiran virallinen kennelnimi.<br>
		<b>Omistaja:</b> Lisää koiran omistajan koko nimi. Koiran omistaja on yleensä se henkilö kenen luona 
		koira pääasiassa viettää aikaan, poikkeuksena sijoituskoirat.<br>
		<b>Rotu:</b> Valitse valikosta koiran rotu.</p>
		<br>
		<form th:object="${dog}" th:action="@{save}" action="/action_page.php" method="post">
		  	<div class="form-group">
			  	<label for="name">Koiran nimi</label>
				<input type="text" class="form-control" id="name" th:field="*{name}" />
			</div>
			<div class="form-group">
		  		<label for="owner">Omistaja</label>
				<input type="text" class="form-control" id="owner" th:field="*{owner}" />	
			</div>
			<div class="dropdown">				
			  	<label for="breedlist">Rotu</label>
				 <select id="breedlist" th:field="*{breed}" class="form-control">
	       			<option th:each="breed: ${breeds}" th:value="${breed.breedId}" th:text="${breed.name}"></option>
	    		</select>
    		</div>
    		<br>
			<button type="submit" value="Save" class="btn btn-info">Tallenna</button>
		</form>
	</div>
</body>
</html>