<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dog registry - Koirarekisteri</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<h1>Koirarekisteri</h1>
		<p>Tervetuloa Dog Registry - koirarekisteriin [[${#httpServletRequest.remoteUser}]]!</p>
		<br>
		<a href="/doglist" class="btn btn-info" role="button">Koiralistaus</a>
		<a href="/breedlist" class="btn btn-info" role="button">Rotulistaus</a>
		<a href="/breedgrouplist" class="btn btn-info" role="button">Roturyhmälistaus</a>
		<br><br>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-danger"/>
		</form>
	</div>
</body>
</html>